{% extends "layout.html" %}

{% block title %}
ShowCoin | Wallet
{% endblock %}

{% block body %}

<div class = 'container text-white'>
    <center><h1>Wallet</h1></center>
    <div class = 'row'>
        <div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <center><h2>Value: {{ current_user.wallet.value }}</h2></center>

            <table class="table table-striped">
                    <thead class='thead-inverse'>
                        <tr>
                        <th scope='col'>Transaction</th>
                        <th scope='col'>Value</th>
                        </tr>
                    </thead>
                    <tbody class = "scoreboard-rows" style='font-size:1.5em;font-family:Josefin Sans Light'>
                    {% for transaction in current_user.wallet.transactions %}
                        <tr class='scoreboard-row'>
                        <td><a class="table-link" href='/transaction/{{ transaction.transaction_uuid }}' >{{ transaction.transaction_uuid }}</a></td>
                        <td>{{ transaction.value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class = 'col-xs-12 col-sm-12 col-md-6 col-lg-6'>
            <center><h2>Your Signatures</h2></center>

            <table class="table table-striped">
                    <thead class='thead-inverse'>
                        <tr>
                        <th scope='col'><center>Signature</center></th>
                        </tr>
                    </thead>
                    <tbody class = "scoreboard-rows" style='font-size:1.5em;font-family:Josefin Sans Light'>
                    {% for signature in current_user.wallet.signatures %}
                        <tr class='scoreboard-row'>
                        <td><center>{{ signature.signature }}</center></td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}